[contenteditable] {
  -webkit-user-modify: read-write-plaintext-only;
}

/*.card-review {
}*/

.response-container {
  position: relative;
  height: 150px;
  background-color: #f7f7f7;
}

.response-container > .response-text {
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 150px;
  width: 100%;
  font-family: monospace;
}

.response-field {
  background: transparent;
}

.part-add {
  background-color: red;
}

.part-ok {
}

.part-del {
  display: none;
}

.part-del + span {
  text-decoration: underline;
  text-decoration-color: green;
}
